{:deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           org.clojure/core.async       {:mvn/version "0.4.474"}
           org.clojure/tools.logging    {:mvn/version "0.4.0"}
           org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                         :sha     "f6c080bd0049211021ea59e516d1785b08302515"}
           org.clojure/test.check       {:mvn/version "0.10.0"}
           compliment                   {:mvn/version "0.3.6"}
           aleph                        {:mvn/version "0.4.4"}
           gloss                        {:mvn/version "0.2.6"}
           compojure                    {:mvn/version "1.6.0"}
           com.taoensso/sente           {:mvn/version "1.13.1"}
           com.taoensso/timbre          {:mvn/version "4.10.0"}
           ring                         {:mvn/version "1.6.3"}
           ring/ring-defaults           {:mvn/version "0.3.1"}
           com.cognitect/transit-clj    {:mvn/version "0.8.300"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "git@github.com:cognitect-labs/test-runner"
                           :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
            :main-opts   ["-m" "cognitect.test-runner"]}

           :repl
           {:main-opts ["-r"]}

           :server-repl
           {:extra-paths ["dev"]
            :extra-deps  {clojure-watch {:mvn/version "0.1.14"}}
            :main-opts   ["-i" "@repl/repl/band/opener.clj" "-r"]}}}




